@font-face {
  font-family: 'MavenPro-Regular';
  src: url('MavenPro-Regular.eot');
  src: url('MavenPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('MavenPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MavenProRegular';
  src: url('MavenProRegular.svg#MavenProRegular') format('svg'),
       url('MavenProRegular.ttf') format('truetype'),
       url('MavenProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

