/*-------------------------------------------------------------------------------------
Theme Name  : THEMEXPERT THEME
Theme URI   : http://www.themexpert.com
Author URI  : http://monayemcse.com
Description : THEMEXPERT THEME CREATED BY MONAYEM. 
Author      : MONAYEM CHOWDHURY | 01823949999. 
Version     : 1.0
----------------------------------------------------------------------------------------*/

/*
---------------------------
    TABLE OF CONTENT
---------------------------
1.  FONTS
2.  TYPHOGRAPHY
3.  HEADER
4.  HERO SECTION
5.  HIGHLIGH AREA
6.  FEATURE SECTION
7.  CLIENT SECTION
8.  QUOTE SECTION
9.  EFFICIENCY SECTION
10. FEEDBACK SECTION
11. INSPIRATIONAL QUOTES
12. FAQ
13. FOOTER
14. RESPONSIVE

*/

/*===================================
        1. FONTS
===================================*/

@font-face {
    font-family: 'LibreFranklin-Regular';
    src: url('../fonts/LibreFranklin-Regular');
    src: url('../fonts/LibreFranklin-Regular?#iefix') format('embedded-opentype'),
         url('../fonts/LibreFranklin-Regular.svg#../fonts/LibreFranklin-Regular') format('svg'),
         url('../fonts/LibreFranklin-Regular.ttf') format('truetype'),
         url('../fonts/LibreFranklin-Regular.woff') format('woff'),
         url('../fonts/LibreFranklin-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibreFranklin-Bold';
    src: url('../fonts/LibreFranklin-Bold');
    src: url('../fonts/LibreFranklin-Bold?#iefix') format('embedded-opentype'),
         url('../fonts/LibreFranklin-Bold.svg#../fonts/LibreFranklin-Bold') format('svg'),
         url('../fonts/LibreFranklin-Bold.ttf') format('truetype'),
         url('../fonts/LibreFranklin-Bold.woff') format('woff'),
         url('../fonts/LibreFranklin-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibreFranklin-Black';
    src: url('../fonts/LibreFranklin-Black');
    src: url('../fonts/LibreFranklin-Black?#iefix') format('embedded-opentype'),
         url('../fonts/LibreFranklin-Black.svg#../fonts/LibreFranklin-Black') format('svg'),
         url('../fonts/LibreFranklin-Black.ttf') format('truetype'),
         url('../fonts/LibreFranklin-Black.woff') format('woff'),
         url('../fonts/LibreFranklin-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MavenPro-Regular';
    src: url('../fonts/MavenPro-Regular');
    src: url('../fonts/MavenPro-Regular?#iefix') format('embedded-opentype'),
         url('../fonts/MavenPro-Regular.svg#../fonts/MavenPro-Regular') format('svg'),
         url('../fonts/MavenPro-Regular.ttf') format('truetype'),
         url('../fonts/MavenPro-Regular.woff') format('woff'),
         url('../fonts/MavenPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arizonia-Regular';
    src: url('../fonts/Arizonia-Regular');
    src: url('../fonts/Arizonia-Regular?#iefix') format('embedded-opentype'),
         url('../fonts/Arizonia-Regular.svg#../fonts/Arizonia-Regular') format('svg'),
         url('../fonts/Arizonia-Regular.ttf') format('truetype'),
         url('../fonts/Arizonia-Regular.woff') format('woff'),
         url('../fonts/Arizonia-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/*===================================
        2. TYPHOGRAPHY
===================================*/
body{
    font-family: 'LibreFranklin-Bold' , sans-serif ;
    font-size:16px;
    font-weight: normal;
    color:#222;
    margin:0px;
    padding:0px;
    background: #fefefe;
}
ul,
li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a {
    font-family: 'LibreFranklin-Bold' , sans-serif ;
    font-size: 16px;
    color: #222;
    text-decoration: none;
    transition: all 0.5s ease-in;
}

a:focus,
a:hover {
    color: #81a32b;
    text-decoration: none;
}

p {
     font-family: 'LibreFranklin-Bold' , sans-serif ;
    font-size: 16px;
    color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
      font-family: 'LibreFranklin-Bold';
}

h1 {
    font-size: 84px;
   font-family: 'LibreFranklin-Black';
}

h2 {
    font-size: 58px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 16px;
}
.btn-menu
{
    font-family: 'LibreFranklin-Bold';
    color:#fff;
    font-size:16px;
    background: linear-gradient(90deg, rgba(119, 1, 219, 1) 0%, rgba(25, 153, 242, 1) 100%);
}
.btn-common{
    font-family: 'LibreFranklin-Regular';
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 25px;
    padding: 10px 20px;
    color:#fff;
    font-size:14px;
    background: linear-gradient(90deg, rgba(119, 1, 219, 1) 0%, rgba(25, 153, 242, 1) 100%);
}
/*===================================
        3. HEADER
===================================*/
header
{
    position: relative;
    z-index: 999;
}
header .container-fluid
{
    padding-left: 60px;
    padding-right: 60px;
}
header .navbar
{
    background: transparent;
    border:0px;
    border-radius: 0px;
}
header .navbar .navbar-brand
{
    height: auto;
    margin:0 auto;
    display: table;
}
header .navbar .navbar-brand img
{
    margin-top:-30px;
    height: 150px;
    width: 150px;
    object-fit: cover;
}
header .navbar-nav
{
    margin:27px 0px;
}

header .navbar-default .navbar-nav > li > a
{
    font-family: inherit;
    font-size:16px;
    color:#1a1a1a;
    transition: all 0.5s ease ;
} 
header .navbar-default .navbar-nav > .active > a , 
header .navbar-default .navbar-nav > .active > a:focus , 
header .navbar-default .navbar-nav > .active > a:hover  {
   background: transparent;
} 
header .navbar-default .navbar-nav >  li a:focus , 
header .navbar-default .navbar-nav >  li a:hover ,
header .navbar-default .navbar-nav > .active > a span, 
header .navbar-default .navbar-nav > .active > a:focus span, 
header .navbar-default .navbar-nav > .active > a:hover span {
   color:#511de5;
   position: relative;
}
header .navbar-default .navbar-nav > .active > a span::after
{
    content: '' ;
    width:100%;
    height: 3px;
    background: linear-gradient(to right,rgb(81, 29, 229), rgb(23, 120, 247) 70%, rgba(255, 255, 255,0.64) 100%);
    position: absolute;
    left:0px;
    bottom:-8px;
}
header .navbar-default .navbar-nav .btn
{
    padding:10px 40px;
    border-radius: 25px;
    color:#fff;
    text-transform: capitalize;
}
header .navbar-default .navbar-right li a
{
    padding-right: 30px;
}
/*===================================
        4. HERO SECTION
===================================*/
.hero-section
{
   padding:50px 0px;
   display: block;
   position: relative;
   background: url(../images/hero-image.png) center center no-repeat;
   height: 900px;
   background-size:cover;
   position: relative;
   top:-125px;

}
.hero-section .hero-content
{
    position: relative;
    top:200px;
}
.hero-section .hero-content h1
{
    font-size:84px;
    text-align: right;
}
.hero-section .hero-content h1 span
{
    color:#511de5;
}
.hero-section a
{
    float:right;
    background: #f2f2f2;
    font-family: 'LibreFranklin-Regular';
    color:#061113;
    font-size:14px;
    margin-top:20px;
}
/*===================================
       5. HIGHLIGH AREA
===================================*/
.highlight-area
{
    background: -webkit-linear-gradient(left, #511de5, #501ee5, #0c8bfb);
    background: -o-linear-gradient(left, #511de5, #501ee5, #0c8bfb);
    background: linear-gradient(to right, #511de5, #501ee5, #0c8bfb);
    padding:30px 0px 20px;
    position: relative;
    margin-top:-125px;
}
.highlight-area .highlight-content
{
    position: relative;
}
.highlight-area .highlight-content::after
{
    content: url(../images/highlight-shape-1.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: -65px;
    left: -160px;
}
.highlight-area p
{
    color:#fff;
    text-align: center;
    font-size:35px;
    position: relative;
    font-family: 'LibreFranklin-Black';
}
.highlight-area p::after
{
    content: url(../images/highlight-shape-2.png);
    position: absolute;
    right: -100px;
    top: 0px;
}
/*===================================
      6. FEATURE SECTION
===================================*/
.feature-section{
    padding:90px 0px;
}
.feature-section .feature-box
{
     box-shadow: 3px 3px 30px rgba(0,0,0,0.10);
    padding: 40px;
}
.feature-section .feature-box h2 
{
    font-size: 54px;
    font-family: 'LibreFranklin-Black';
}
.feature-section .feature-box p
{
   font-family: 'MavenPro-Regular';
   font-size:16px;
   color:#333;
   text-align: justify;
   margin-top:20px;
}
.feature-section .feature-box h1
{
    font-size:70px;
    font-family: 'Libre Franklin Black' ;
    text-transform: uppercase;
    background: linear-gradient(to right, #511de5 0%, #0b8cfb 40%,#0d8afb 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 

.feature-section .feature-box .text-sm
{
    margin-top:-40px;
    margin-left:168px;
}
/*===================================
       7. CLIENT SECTION
===================================*/
.client-section
{
    padding:0px 0px 90px;
}
/*===================================
       8. QUOTE SECTION
===================================*/
.quote-section{
    padding:20px 0px;
    background: #fafafa;
    margin:100px 0px;
    position: relative;
}
.quote-section::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    background: #fafafa;
    transform: skewY(-2.5deg);
    z-index: -1;
    top: -70px;
}
.quote-section::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
     background: #fafafa;
    transform: skewY(-2.5deg);
    z-index: -1;
   bottom:-70px;
}
.quote-section .quote-text
{
    background: url(../images/quote-bg.png) left center no-repeat;
    height: 470px;
    padding:150px;
}
.quote-section .quote-text p 
{
    color:#fff;
    font-family: 'MavenPro-Regular' ;
    font-size:18px;
}
.quote-section .quote-text h6
{
    color:#fff;
    display: block;
    margin-top:20px;
}
.quote-section h2{
    font-size: 54px;
}

/*===================================
       9. EFFICIENCY SECTION
===================================*/
.efficiency-section
{
    padding:90px 0px;
}
.efficiency-section img
{
    border-right: 20px solid #f2f2ff;
    border-bottom:20px solid #f2f2ff;
}
.efficiency-section h1
{
    font-size: 54px;
    font-family: 'LibreFranklin-Black' ;
    margin-bottom: 20px;
}
.efficiency-section p
{
   font-family: 'MavenPro-Regular';
   font-size:16px;
   text-align:justify;
   margin:20px 0px;
}
.efficiency-section li img
{
    border:0px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.efficiency-section .btn
{
    margin-top:10px;
}
/*===================================
       10. FEEDBACK SECTION
===================================*/
.feedback-section
{
    background: #fcfcfc;
    border-top:1px solid #e9e9e9;
    border-bottom:1px solid #e9e9e9;
    padding:90px 0px;
}
.feedback-section .feedback-header
{
    margin:40px 0px;
}
.feedback-section .feedback-header h2
{
    text-align: center;
    font-size: 54px;
    margin:30px 0px;
}
.feedback-section .feedback-header p
{
    font-family: 'MavenPro-Regular';
    font-size: 16px;
    text-align: center;
}
.feedback-section .feedback-content
{
    margin-top:30px;
    padding:15px;
    border-right:2px solid #f2f2f2;
}
.feedback-section .feedback-content img,
.feedback-section .feedback-content h4,
.feedback-section .feedback-content p
{
    text-align: center;
    margin:0 auto;
    display: table;
}
.feedback-section .feedback-content h4{
   margin:20px 0px;
   display: block;
}
.feedback-section .row .col-md-4:last-child .feedback-content
{
    border:0px;
}

/*===================================
       11. INSPIRATIONAL QUOTES
===================================*/
.inspirational-quotes
{
    padding:90px 0px;
}

.inspirational-quotes-container
{
    box-shadow: 0px 0px 2px rgba(0,0,0,0.10);
    position: relative;
}
.inspirational-quotes-container::before
{
    content: url(../images/forma.png);
    top: -45px;
    right: -52px;
    overflow: hidden;
    background-clip: border-box;
    object-fit: contain;
    clip: rect(40px ,230px,200px,0px);
    position: absolute;
}
.inspirational-quotes-container .quotes-body
{
    display: block;
    text-align: center;
    padding: 80px 20px 80px;
    z-index: 999;
    position: relative;
}
.inspirational-quotes-container .quotes-body p{
    text-align: center;
    color:#999;
    font-size:18px;
}
.inspirational-quotes-container .quotes-footer
{
    margin:0px auto;
    display: table;
    border-top:1px solid #eaeaea;
    padding:20px 10px;
}
.inspirational-quotes-container .quotes-footer img
{
    height: 50px;
    width:50px;
    border-radius: 50%;
    object-fit: cover;
    margin:0 auto;
    display: table;
    -webkit-filter: saturate(0%) grayscale(100%) brightness(100%) contrast(30%);
}
.inspirational-quotes-container .quotes-footer h4
{
    color:#999;
    text-align: center;
    text-transform: uppercase;
    font-size:15px;
    font-family: 'LibreFranklin-Bold';
    margin:10px 0px;
}
.inspirational-quotes-container .quotes-footer p
{
    text-align: center;
    font-family: 'LibreFranklin-Regular';
    font-size:12px;
}
.inspirational-quotes-container.active
{
     box-shadow: 3px 3px 30px rgba(0,0,0,0.10);
}
.inspirational-quotes-container.active .quotes-body p
{
    background: linear-gradient(to right, #511de5 0%, #0b8cfb 40%,#0d8afb 90%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.inspirational-quotes-container.active .quotes-footer img
{
    filter:unset;
}
/*===================================
       12. FAQ
===================================*/
.faq-container
{
    box-shadow: 5px 5px 30px rgba(0,0,0,0.25);
    padding:100px;
    position: absolute;
    z-index: 9999;
    background: #fff;
}
.faq-container h2
{
    font-size:54px;
    font-family: 'LibreFranklin-Black';
    text-align: center;
}
.faq-box-title {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0px;
    cursor: pointer;
    margin: 2px 0px;
    color: #222;
    font-size: 16px;
    transition: all 0.5s ease-in;
}
.faq-box-details
{
    padding:20px 0px;
    display: none;
    font-family: 'MavenPro-Regular';
    font-size:16px;
}
.faq-box-wrapper
{
    margin:100px 0px;
}
.faq-box-wrapper .faq-box-item:first-child .faq-box-title
{
    border-bottom: 0px;
    color:#0000ff;
    font-size:18px;
    font-family: 'LibreFranklin-Bold';
}
.faq-box-wrapper .faq-box-item:first-child .faq-box-details
{
    display: block;
}
/*===================================
     13. FOOTER
===================================*/
footer
{
    background-image: url(../images/footer-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 960px;
}
footer .footer-link,
footer .footer-copyright
{
    position: relative;
    top:860px;
}
footer .footer-link ul li
{
    float:left;
}
footer .footer-link ul li a
{
    color:#fff;
    display: inline-block;
    padding:15px;
}
footer .footer-copyright p
{
    color:#fff;
}

/*===================================
      14. RESPONSIVE
===================================*/

/* -------------------------------------------------
  Large Screen. 
---------------------------------------------------*/

@media (min-width: 1024px) and (max-width: 1600px) {}

/* -------------------------------------------------
  Laptop Screen 
---------------------------------------------------*/

@media (min-width: 1170px) and (max-width: 1366px) {}

/* -------------------------------------------------
  Old Desktop :992
---------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1169px) {}

/* -------------------------------------------------
  Tablet Screen : 768
---------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {}

/* -------------------------------------------------
  Small Mobile : 320
---------------------------------------------------*/

@media (max-width: 767px) {
    header .container-fluid
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    header .navbar .navbar-brand img
    {
        height: 80px;
        width: 80px;
        margin:0px;
        position: relative;
        top: -23px;
        left: -15px;
    }
    header .navbar .navbar-header
    {
        margin-bottom: 25px;
    }
    header .navbar .navbar-brand
    {
        height: 0px;
        margin:0px;
        display: block;
    }
    header .navbar-default .navbar-collapse
    {
        background: #e8e8e8;
        padding:10px 0px;
    }
    header .navbar-nav
    {
        margin:0px;
    }
    header .navbar-default .navbar-collapse, 
    header .navbar-default .navbar-form{
        border:none;
    }
    header .navbar-default .navbar-nav .btn
    {
        display: inline-block;
        padding:2px 8px;
        font-size:12px;
        margin-left:12px;
    }
    .efficiency-section,
    .feedback-section,
    .inspirational-quotes,
    .faq-section,
    .feature-section
    {
        padding:30px 0px;
    }
    .client-section
    {
        padding-bottom: 30px;
    }

    .hero-section{
        height: auto;
    }
    .hero-section .hero-content
    {
        top:unset;
    }

    .hero-section .hero-content h1
    {
        font-size:26px;
        text-align: left;
    }
    .hero-section a{
        float:left;
        font-size:12px;
        padding:5px 10px;
        margin-top:0px;
    }

    .highlight-area .highlight-content::after,
    .highlight-area p::after
    {
        position: unset;
    }
    .highlight-content p{
        font-size:18px;
        display: inline-block;
    }
    .highlight-area p::after,
    .highlight-area .highlight-content::after
    {
        content:none;
    }
    .feature-section .feature-box h2
    {
        font-size:26px;
    }
    .feature-section .feature-box h1
    {
        font-size:40px;
    }
    .feature-section .feature-box .text-sm
    {
        margin-left: 100px;
        margin-top: -35px;
    }
    .quote-section .quote-text{
        padding: 100px 30px;
        width: 360px;
        height: 360px;
        background-size: contain;
    }
    .quote-section .quote-text p{
        padding-left: 60px;
        text-align: center;
    }
    .quote-section .quote-text h6{
        padding-left: 58px;
        text-align: center;
    }
    .quote-section h2{
         font-size:26px;
    }
    .faq-container
    {
        position: unset;
        padding:10px;
    }
    .btn-common{
        padding:5px 8px;
        font-size:12px;
    }
    .efficiency-section h1{
        font-size:26px;
    }
    .feedback-section .feedback-header h2{
        font-size:26px;
    }
    .inspirational-quotes-container{
        margin:40px 0px;
    }
    .inspirational-quotes-container .quotes-body{
        padding-top:20px;
        padding-bottom: 20px;
    }
    .faq-container h2{
        font-size: 26px;
    }
    .faq-section .faq-box-wrapper {
        margin:0px;
    }

    footer{
        height: auto;
        background: #511de5;
        padding:20px 0px;
    }
    footer .footer-link, footer .footer-copyright
    {
        text-align: center;
        margin: 0 auto;
        display: table;
        top:0px;
    }
    footer .footer-link a, footer .footer-copyright p{
        font-size:12px;
    }
}
/* -------------------------------------------------
  Large Mobile :480px. 
---------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

    

}